<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <h1>Processed Parameters</h1>
    <ul>
        <li>Height: {{ result.height }}</li>
        <li>P: {{ result.p }}</li>
        <li>Width: {{ result.width }}</li>
        <li>Width/Height Ratio: {{ result.wh }}</li>
        <li>Width/P Ratio: {{ result.wp }}</li>
        <li>Mind: {{ result.mind }}</li>
        <li>RHI2: {{ result.rhi2 }}</li>
        <li>AP: {{ result.ap }}</li>
    </ul>
</body>

</html>